body {
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: darkgreen;
}

.graph-svg-component {
    background-color: cornflowerblue;
}

.blinking {

    animation: opacity 2s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}